---
title: Home
---

.row
  .eight.columns
    .panel.edito
      %h3 Le CococoCamp est bientôt là !
      %h4.subheader Aujourd'hui de nouveaux projets, produits et services innovants se développent en faisant appel à des méthodes dites de "co-création". Impossible d'en douter, tout le monde en parle !
      %p Devant cette avalanche de termes plus ou moins galvaudés et au delà des "buzz words" qui émaillent le monde des affaires et de l'innovation, il est important de ne pas perdre l'essence de cette démarche.
      %p C'est la vocation du Co-co-co-Camp : Se retrouver pour prendre du recul et faire le point sur ces initiatives.

      %a{class: 'big radius button nice', href:"http://barcamp.org/w/page/52789204/CCCCamp"} Réservez votre place !

    %h3 Le programme
    %h4.subheader Un programme en deux parties, des tables rondes en matinée pour faire le tour du sujet et un BarCamp dans l'après midi pour échanger.
    %hr
    .row
      .six.columns
        %h4
          Tables rondes
          %span.label.green 10h-13h
        %p Des experts et des retours d’expérience pour mieux faire le tour du sujet de la co-création et de la co-innovation
        %ul.square
          %li Des chercheurs abordent l’histoire, les concepts et mettent en perspectives les différentes formes de collaborations.
          %li Des exemples et des analyses d’expériences collaboratives innovantes dans le fond et dans la forme.
          %li Des retours d’expériences de grandes entreprises sur des démarches de co-création avec des acteurs externes.
          %li Des points de vues décalés sur différentes formes de collaboration.
        %p Et un tour des plaisirs et déplaisirs du travail collaboratif.

      .six.columns
        %h4
          BarCamp
          %span.label.green 14h-18h

        %p Un BarCamp qui permettra aux participants d’échanger de manière originale sur des exemples, des tendances, des outils et des questionnements en tous genres tournant autour des co-co-co.
        %h6.small Qu'est ce qu'un BarCamp ?        
        %p Un BarCamp est une rencontre, une non-conférence ouverte qui prend la forme d'ateliers-événements participatifs où le contenu est fourni par les participants qui doivent tous, à un titre ou à un autre, apporter quelque chose au BarCamp. C'est le principe pas de spectateur, tous participants.

    %h3.home Le lieu
    %h4.subheader La Cantine par Silicon Sentier, haut lieu des événements collaboratifs pour les communautés des NTIC.
    %hr
    <iframe width="625" height="350" src="http://maps.google.fr/maps?hl=fr&amp;ie=UTF8&amp;q=la+catine&amp;fb=1&amp;gl=fr&amp;hq=la+catine&amp;cid=0,0,8598411878000133392&amp;ll=48.870509,2.342352&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?hl=fr&amp;ie=UTF8&amp;q=la+catine&amp;fb=1&amp;gl=fr&amp;hq=la+catine&amp;cid=0,0,8598411878000133392&amp;ll=48.870509,2.342352&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>

  .four.columns
    - if !news.empty?
      %h4 Dernières nouvelles
      %ul
        - news.each do |article|
          %li
            %h5
              %a{href: article.path}= article[:title]
            %p= snippet(article)
