require 'ZURB-foundation'

# http://compass-style.org/help/tutorials/configuration-reference/
http_path = "/"
project_path = "."
css_dir = "output/stylesheets"
sass_dir = "content/stylesheets"
images_dir = "content/images"
generated_images_dir = "output/images"
http_generated_images_path = "/images"
http_images_path = "/images"
output_style = :compressed
