!!! 5
%html{lang:"fr"}
  %head
    %meta{charset:"utf-8"}
    %title #{@item[:title]} - #{site_name}
    %link{rel: "stylesheet", type:"text/css", href: "/stylesheets/application.css", media: "screen"}
    %link{rel:"icon", type:"image/png", href:"/favicon.png"}
    - if production?
      :javascript
        var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-28214743-2']);  _gaq.push(['_setDomainName', 'none']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();

  %body
    .container
      = yield

    %footer.footer
      .row
        %hr
        %ul.block-grid.four-up.mobile
          %li
            %section
              %h4 Sponsors
              %p Associez-vous à l'événement.
              %p
                %a{href:"mailto:contact@cocococamp.com"} Contactez-nous
                pour découvrir les différents packages.
          %li
            %section
              %h4 Où ?
              %p
                La Cantine
                %br
                151 rue Montmartre,
                %br
                Passage des Panoramas,
                %br
                75002 Paris,
                %br
                FRANCE.

          %li
            %section
              %h4 Organisateurs
              %ul
                %li
                  %a{href:"http://nod-a.com/"} Nod-a
                %li
                  %a{href:"https://stormz.me/"} Stormz
                %li
                  %a{href:"http://siliconsentier.org/"} Silicon Sentier

          %li
            %section
              %h4 Contact
              %ul
                %li
                  %a{class: 'small radius button white', href:"mailto:contact@cocococamp.com"} Envoyez-nous un email
                %li
                  %a{class: 'small radius button white', href:"http://twitter.com/cocococamp"} Suivez-nous sur Twitter
