%section
  %h4 Organisateurs
  %hr
  %a{href:'http://nod-a.com/'}
    %img.logo{src: "/images/noda_150px.png", alt: "Nod-a"}
  %a{href:'http://siliconsentier.org/'}
    %img.logo{src: "/images/siliconsentier_150px.png", alt: "Silicon Sentier"}
  %a{href:'https://stormz.me'}
    %img.logo{src: "/images/StormzLogo_150px.png", alt: "Stormz"}
