%h4 Sponsors
%hr
%a{href:'http://www.fr.capgemini.com/services/technology_services/accelerateurs/solutions/accelerated_solution_environment/'}
  %img.logo{src: "/images/ase_150px.png", alt: "ASE, L'art de l'accélération. Cap geminini"}
%a{href:'http://www.3ds.com/'}
  %img.logo{src: "/images/3ds_150px.png", alt: "Dassault Systèmes"}
