.header
  %h1
    %a{href:'/'}
      %img{src: "/images/cocococamp_logo.png"}

  %h4.subheader
    Un événement sur la co-création, la co-conception, la co-?
    le
    %abbr.dtstart{title:'2012-05-04'} 4 mai
    à
    %span.location Paris.
    %hr

.row
  .eight.columns.content
    = yield
  .four.columns

    %section
      .panel
        %h4 Inscrivez-vous
        %p Les places sont limitées, inscrivez-vous pour être sur de pouvoir participer.
        %p
          %a{class: 'big radius button nice', href:"http://barcamp.org/w/page/52789204/CCCCamp"} Réservez votre place !
