.header
  %h1
    %a{href:'/'}
      %img{src: "/images/cocococamp_logo.png"}

  %h4.subheader
    Un événement sur la co-création, la co-conception, la co-?
    le
    %abbr.dtstart{title:'2012-05-04'} 4 mai
    à
    %span.location Paris.
    %hr

.row
  .eight.columns
    = yield
  .four.columns

    %section
      .panel
        %h4 Inscrivez-vous
        %p Les places sont limitées, inscrivez-vous pour être sur de pouvoir participer.
        %p
          %a{class: 'big radius button nice', href:"http://barcamp.com"} Réservez votre place !

.footer
  .row
    %hr
    %ul.block-grid.four-up.mobile
      %li
        %section
          %h4 Sponsors
          %p
            %a{href:"mailto:contact@cocococamp.com"} Contactez nous
      %li
        %section
          %h4 Où ?
          %p
            La Cantine
            %br
            151 rue montmartre,
            %br
            passage des panoramas
            %br
            75002 Paris
            %br
            FRANCE

      %li
        %section
          %h4 Organisateurs
          %ul
            %li
              %a{href:"http://nod-a.com/"} Nod-a
            %li
              %a{href:"https://stormz.me/"} Stormz
            %li
              %a{href:"http://siliconsentier.org/"} Silicon Sentier

      %li
        %section
          %h4 Contact
          %p
            %a{class: 'small radius button white', href:"mailto:contact@cocococamp.com"} Contactez les organisateurs.
