.row
  .eight.columns.content
    %article
      = yield
  .four.columns.sidebar

    %section
      .panel
        %h4 Inscrivez-vous
        %p Les places sont limitées, inscrivez-vous sur le site de La Cantine pour être sur de pouvoir participer aux tables rondes.
        %p
          %a{class: 'big radius button nice', href:"http://lacantine.org/events/cocococonf"} Réservez votre place !
          
    %section
      %h4 Sponsors
      %hr
      %a{href:'http://www.fr.capgemini.com/services/technology_services/accelerateurs/solutions/accelerated_solution_environment/'}
        %img.logo{src: "/images/ase_150px.png", alt: "Capgemini ASE"}

    %section
      %h4 Organisateurs
      %hr
      %a{href:'http://nod-a.com/'}
        %img.logo{src: "/images/noda_150px.png", alt: "Nod-a"}
      %a{href:'http://siliconsentier.org/'}
        %img.logo{src: "/images/siliconsentier_150px.png", alt: "Silicon Sentier"}
      %a{href:'https://stormz.me'}
        %img.logo{src: "/images/StormzLogo_150px.png", alt: "Stormz"}


