.row
  .eight.columns.content
    %article
      = yield
  .four.columns

    %section
      .panel
        %h4 Inscrivez-vous
        %p Les places sont limitées, inscrivez-vous pour être sur de pouvoir participer.
        %p
          %a{class: 'big radius button nice', href:"http://barcamp.org/w/page/52789204/CCCCamp"} Réservez votre place !
