// ZURB Foundation settings
@import settings

// Importing all of Foundation
@import ZURB-foundation

body
  margin: 40px

header
  margin: 0 0 60px 0

footer
  margin: 40px 0

.panel.edito
  padding: 20px
  margin: 0 0 60px 0

  &.compact
    padding: 5px 20px

.content
  ul
    list-style: square inside

// Typography

h3.home
  margin: 40px 0 0 0

.smaller
  color: gray
  font:
    size: 0.4em

.bigger
  font:
    size: 1.4em
